@import "variable";

.pending-offer-card {
  height: 300px;
  border: 1px solid $gray-200;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.7rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:hover {
    box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.2);
    border: 0px solid $gray-200;
    .offer-btn-wrapper{
      animation: btn-action-move-up 0.5s forwards ease;
    }
  }


  .p-offer-header {
    font-family: $secondary-font;

    .title {
      font-size: 10px;
      font-weight: 300;
      color: $gray-300;
    }

    .header {
      font-size: 12px;
      font-weight: 600;
      color: $ndb-title-color;
    }
  }

  .p-offer-banner {
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    img {
      border-radius: 5px;
    }
  }

  .category-bank-wrapper {
    font-family: $secondary-font;
    letter-spacing: 0.5px;

    .category-wrp {
      .title {
        font-size: 10px;
        font-weight: 300;
        color: $gray-300;
        padding-bottom: 0.1rem;
      }

      .category {
        font-size: 10px;
        font-weight: 300;
        color: $ndb-title-color;
      }

      &:nth-child(1) {
        margin-right: 0.4rem;
      }
    }
  }

  .offer-btn-wrapper {
    padding-top: 0.8rem;
    margin-top: 1.5rem;
    transform: translateY(200px);
  }
}


@keyframes btn-action-move-up {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-20px);
  }
}
