@import "variable";

body,
html {
  background: $bg-color !important;
  overflow: hidden;
}

@keyframes menu-top-to-bottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes menu-bottom-to-top {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.loading-wrapper {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 20px;
  left: 40%;
  right: 50%;
  margin: 0 auto;
  background: $primary-color;
  text-align: center;
  color: $white;
  padding-top: 12px;
  border-radius: 25px;
  animation: menu-top-to-bottom 0.3s ease forwards;

  &.active {
    animation: menu-top-to-bottom 0.3s ease forwards;
  }

  &.unload {
    animation: menu-bottom-to-top 0.5s ease forwards;
  }
}

//create bank
.view {
  .logo-view {
    width: 40px;
    height: 20px;

    img {
      width: 30px;
    }
  }
}

//center
.d-flex-center {
  display: flex;
  justify-items: center;
  align-items: center;
}

.track-horizontal {
  overflow-x: hidden !important;
  display: none !important;
}

.bank-text {
  &.hsbc {
    color: #E12D27 !important;
  }

  &.commercial {
    color: #0865AB !important;
  }

  &.seylan {
    color: $seylan !important;
  }

  &.ndb {
    color: $ndb !important;
  }


  &.cargills {
    color: #ffa692 !important;
  }

  &.ntb {
    color: #EF037E !important;
  }

  &.peopele {
    color: #ffa692 !important;
  }

  &.sampath {
    color: $sampth !important;
  }
}