@import "variable";

@mixin font-style($family,$size,$weight,$color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

//button
.btn {
  @include font-style($secondary-font, 12px, 600, $gray-200);

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  }
  &:active {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  }

  &.lg {
    height: 50px;
  }
  &.sm {
    width: 80px;
    height: 30px;
  }

  &.btn-disable {
    background-color: $gray-300;
  }
}

.btn-dark {
  background-color: $primary-color-2;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0) !important;
  }

  &:active {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0) !important;
  }

  &:hover {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0) !important;
  }

  &:visited {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0) !important;
  }
}