@import "variable";
@import "mixin";

$menu-padding: 1rem 1rem 1rem 1rem;

.console-main-wrapper {
  overflow: hidden !important;

  .left-wrapper {
    width: 200px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;

  }
}

.logo-wrapper {
  height: 50px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
  padding: $menu-padding;
}

.menu-wrapper {
  a {
    font-family: $secondary-font;
    color: $font-color-second;
    &.active {
      font-weight: 600;
      color: $primary-color;

      .left-menu-item-wrp {
        background: $white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 30px;
      }
    }
    .left-menu-item-wrp {
      cursor: pointer;
      padding: $menu-padding;
      .icon {
        i {
          font-size: 1.3rem;
        }
      }
      .text {
        font-family: $secondary-font;
        margin-left: 1rem;
        font-size: 0.7rem;
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
}


/*==== console body wrapper ========*/
.console-body-wrapper {
  height: 100%;
  position: relative;
  margin-left: 200px;

}

//header
.body-header-wrapper {
  height: 80px;
  background: $white;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .left-wrp {

  }

  .right-wrp {
    .menu-item {
      .item {
        width: 50px;
        height: 50px;
        background: $white;
        cursor: pointer;
        border-radius: 100%;
        @include menu-icon-shadow();
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          i {
            color: $primary-color;
          }
        }

        i {
          //font-size: 1.2rem;
        }
      }
    }
  }
}

.body-content-wrapper {
  background: $white;
  border-radius: 10px;
  padding: 0.5rem;
  overflow: hidden;
  position: relative;
}

