@import "variable";


.bank-card-wrapper {
  width: 100px;
  height: 100px;
  border: 1px solid $gray;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  padding: 1.5rem 1rem 1rem 1rem;
  position: relative;

  &.active {
    border: 1px solid $primary-color;

    .select-item {
      background: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  &:hover {
    background: $gray;

    .bank-name {
      color: $ndb-title-color;
    }
  }

  .logo {
    .bank-logo {
      width: 50px;
    }
  }

  .bank-name {
    text-align: center;
    font-family: $secondary-font;
    font-size: 10px;
  }

  .select-item {
    width: 10px;
    height: 10px;
    border: 1px solid $gray-200;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

}


//===== client details view =======
.client-selection-row {
  height: 80px;
  border-bottom: 1px solid $gray;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;

  &.active {
    border: 1px solid $primary-color;

    .left-wrp {
      .client-name {
        color: $ndb-title-color;
      }
    }

    .right-wrp {
      .select-item {
        background: $primary-color;
      }
    }
  }

  &:hover {
    background: $gray;

    .left-wrp {
      .client-name {
        color: $ndb-title-color;
      }
    }

    .right-wrp {
      .select-item {
        border: 1px solid $primary-color;
      }
    }
  }

  .left-wrp {
    .client-img {
      margin-right: 1rem;

      img {
        width: 50px;
        -webkit-box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
      }
    }

    .client-name {
      font-family: $secondary-font;
    }
  }

  .right-wrp {
    padding-right: 20px;

    .select-item {
      width: 15px;
      height: 15px;
      border: 1px solid $gray-200;
      border-radius: 100px;
      top: 10px;
      right: 10px;
      float: right;
    }
  }
}

//terms & condition
.button-wrp {
  margin-top: 1.8rem;
  margin-left: 1rem;
}

.btn-add {
  height: 55px;
  border-radius: 10px;
}

.list-term-wrp {
  .term-item {
    font-family: $secondary-font;
    font-weight: 300;
    width: 100%;
    border-bottom: 1px solid $gray;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    .delete-icon {
      width: 30px;
      height: 30px;
      position: absolute;
      border-radius: 100%;
      background: $white;
      box-shadow: -21px 17px 48px -5px rgba(0, 0, 0, 0.8);
      right: 15px;
      top: 10px;
      padding-left: 7px;
      transform: translateY(400px);

      &:hover {
        background: $red;
        i {
          color: $white;
        }
      }

      i {
        font-size: 15px;
        color: $red;
      }
    }

    &:hover {
      background: $bg-color;

      .delete-icon {
        animation: delete-icon-show 0.6s forwards cubic-bezier(0.46, 0.59, 0.25, 0.99);
      }
    }
  }
}

@keyframes delete-icon-show {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(0);
  }
}