@import "variable";

@mixin font-style($family,$size,$weight,$color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin font-style($family,$size,$weight,$color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  letter-spacing: 0.5px;
}

@mixin menu-icon-shadow() {
  -webkit-box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
}


@mixin align-item-center() {
  display: flex;
  align-items: center;
  justify-content: center;

}