@import "variable";
@import "mixin";

.modal-bg-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

  .header-wrapper {
    border-bottom: 1px solid $bg-color;
    padding-bottom: 1.5rem;
    position: relative;
  }

  .modal-wrapper {
    background: $white;
    border: 1px solid $bg-color;
    border-radius: 10px;
    min-height: 500px;
    padding: 2rem;
    margin-top: 4rem;
    overflow: hidden !important;
    position: relative;

    .modal-title {
      margin-left: 1rem;

      small {
        font-family: $secondary-font;
        color: $primary-color;
        font-weight: 500;
      }
    }
  }

  .modal-body-wrapper {
    .form-wrapper {
      margin-top: 2rem;
      overflow: hidden !important;

      &.auto-scroller {
        div {
          &:nth-child(2) {
            overflow: hidden !important;
            overflow-y: auto !important;
          }
        }
      }

      &.m1-t {
        margin-top: 1rem;
      }
    }

    .btn-wrapper {
      margin-top: 2rem;
    }
  }
}

.create-new {
  font-family: $secondary-font;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  text-align: right;
  cursor: pointer;
  color: $gray-400;

  &:hover {
    color: $primary-color;
  }

}

