.card-wrapper {
  min-height: 300px;
  background: $white;
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 10px;
  border: 1px solid #ebe9ef;
  //opacity: 0;
  //transition: 500ms all ease-in-out;
  //animation: test 500ms forwards ease-in;
  .offer-card-header {
    min-height: 20px;
    position: relative;
    //display: flex;
    //justify-content: center;
    //justify-items: center;
  }
  .card-body-wrapper {
    .offer-details-wrp {
      border: 1px solid $gray;
      border-radius: 5px;
      padding: 0.7rem;
      flex: 1;
      .web-site-wrp {
        margin-top: 1rem;
        margin-left: 1.2rem;
        text-align: center;
        .view-more {
          display: flex;
          align-items: center;
          text-align: center;
          border-radius: 5px;
          width: 65px;
          height: 25px;
          background: $gray;
          font-family: $secondary-font;
          color: $primary-color;
          border: 1px solid $primary-color;
          font-size: 10px;
          cursor: pointer;
          &:hover {
            color: $white;
            background: $primary-color;
          }
          &.accept{
            color: $font-color;
            border: 1px solid $font-color;
            &:hover {
              color: $white;
              background: $font-color;
            }
          }

        }
      }
    }
    .offer-location-wrp {
      margin-top: 0.8rem;
      .icon-wrapper {
        margin-right: 0.5rem;
        i {
          font-size: 13px;
          color: $gray-300;
        }
      }

      .offer-location {

      }
    }
  }
}

.offer-image-wrp {
  width: 60%;
  height: 200px;
  overflow: hidden;
  margin-right: 0.6rem;
  border-radius: 5px;
  position: relative;
  img {
    object-fit: cover;
    height: 255px;
    border-radius: 2px;
    animation: img-scale-out 3s forwards ease-in;
    margin-top: -51px;
    margin-left: -160px;
    &:hover {
      // animation: img-scale-in 2s forwards;
    }
  }

}

.client-wrp {
  position: absolute;
  z-index: 100;
  bottom: 25px;
  left: 25px;
  .offer-client-logo {
    //height: 40px;
    //width: 40px;
    //position: relative;
    margin-right: 0.8rem;
    margin-top: -6px;
    img {
      height: 50px;
      border-radius: 100px;
      box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.18);

    }
  }

}
.offer-card-footer {
  margin-top: 1.5rem;
  .footer-item {
    border: 1px solid $gray-200;
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    &.with-bg-yellow {
      background: $secondary-color;
      border: 0px solid $gray-200;
      display: flex;
      align-items: center;
      text-align: center;
    }
    .title {
      font-family: $secondary-font;
      font-weight: 500;
      font-size: 11px;
      &.white {
        color: $white;
      }
    }

    &.with-icon {
      .left-title {
        margin-right: 1.2rem;
      }
      &.hsbc {
        background: rgba(255, 45, 39, 0.07);
        border: 1px solid #E12D27;
        .left-title {
          color: #E12D27;
          .c-label {
            color: #ffa692;
          }
        }
      }

      &.commercial {
        background: rgba(8, 101, 171, 0.07);
        border: 1px solid #0865AB;
        .left-title {
          color: #0865AB;
          .c-label {
            color: #088be0;
          }
        }
      }

      &.seylan {
        background: rgba(255, 45, 39, 0.07);
        border: 1px solid $seylan;
        .left-title {
          color: $seylan;
          .c-label {
            color: $seylan-title-color;
          }
        }
      }

      &.ndb {
        background: rgba(255, 45, 39, 0.07);
        border: 1px solid $ndb;
        .left-title {
          color: $ndb-title-color;
          .c-label {
            color: $ndb;
          }
        }
      }

      &.cargills {
        background: rgba(255, 45, 39, 0.07);
        border: 1px solid #E12D27;
        .left-title {
          color: #ffa692;
          .c-label {
            color: #E12D27;
          }
        }
      }
      &.hnb {
        background: rgba(255, 45, 39, 0.07);
        border: 1px solid $ndb;
        .left-title {
          color: $ndb-title-color;
          .c-label {
            color: $ndb;
          }
        }
      }
      &.ntb {
        background: rgba(7, 102, 166, 0.07);
        border: 1px solid #0766a6;
        .left-title {
          color: #EF037E;
          .c-label {
            color: #c552a3;
          }
        }
      }
      &.peopele {
        background: rgba(255, 45, 39, 0.07);
        border: 1px solid #E12D27;
        .left-title {
          color: #ffa692;
          .c-label {
            color: #E12D27;
          }
        }
      }
      &.sampath {
        background: rgba(244, 124, 32, 0.07);
        border: 1px solid $sampth;
        .left-title {
          color: $sampth;
          .c-label {
            color: $sampath-title-color;
          }
        }
      }

    }
  }
}

.interset {
  cursor: pointer;
  z-index: 100;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  &.valid-user {

  }
  &.invalid-user {
    background: $gray;
    border: 1px solid $bg-color;
    .left-title {
      margin-right: 1.2rem;
      .c-label {
        color: $gray-200;
      }
      .title {
        font-family: $secondary-font;
        font-weight: 500;
        font-size: 11px;
      }
    }
    .right-icon {
      i {
        color: $gray-200;
      }
    }
  }
}

.card-title {
  font-family: $secondary-font-2;
  font-weight: 900;
  font-size: 18px;
  color: $font-color;
  text-transform: uppercase;
}

.c-label {
  font-family: $secondary-font;
  font-size: 10px;
  color: $gray-300;
  &.link {
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
}

.offer-expire {
  font-family: $secondary-font;
  color: $red;
  font-size: 10px;
}

.time-ago {
  font-family: $secondary-font;
  font-size: 10px;
  color: $gray-300;
}

.location-title {
  font-family: $secondary-font;
  font-size: 11px;
  color: $font-color;
}

//=============

.offer-view-title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 12px;
  color: $gray-300;
}
.offer-wrapper {
  .bank-and-client-wrapper {
    min-height: 100px;
    background: $gray;
    position: relative;
    overflow: hidden;
    z-index: 0;
    border-radius: 5px;
    padding: 2rem;
    &.mobile {
      padding: 0rem;
    }

    .client-wrapper {
      padding-right: 3rem;
      &.mobile {
        padding: 0.8rem;
      }
      .logo-wrp {
        padding-bottom: 2.2rem;
        padding-top: 0.3rem;
        img {
          width: 100px;
        }
      }
      .bank-details {
        padding-bottom: 1rem;
        .title {

        }
        .body {
          font-family: $secondary-font;
          font-weight: 400;
          font-size: 13px;
          flex-wrap: wrap;
          &.b {
            font-weight: 600;
          }

        }
        &.hsbc {
          .body {
            color: $hsbc !important;
            &.validDesc {
              color: $hsbc;
            }
          }

        }

        &.seylan {
          .body {
            color: $seylan !important;
            &.validDesc {
              color: $seylan;
            }
          }

        }
        &.sampath {
          .body {
            color: $sampth !important;
            &.validDesc {
              color: $sampth;
            }
          }

        }
        &.commercial {
          .body {
            color: $combank !important;
            &.validDesc {
              color: $combank;
            }
          }

        }
        &.hnb {
          .body {
            color: $ndb-title-color !important;
            &.validDesc {
              color: $ndb-title-color;
            }
          }

        }
        .check-icon-wrp {
          width: 20px;
          height: 20px;
          margin-right: 1rem;
          margin-bottom: 0.5rem;
          .icon {
            width: 20px;
            height: 20px;
            background: $primary-color;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              display: flex;
              justify-content: center;
              align-items: center;
              color: $white;
              font-size: 12px;
            }
          }
        }
      }

      .apply-card-wrp {
        width: 86px;
        height: 29px;
        background: $white;
        text-align: center;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        border: 2px solid $gray-300;
        margin-top: 2rem;
        cursor: pointer;
        &:hover {
          border: 2px solid $primary-color;
          .btn-apply-card {
            color: $primary-color;
          }
        }
        .btn-apply-card {
          font-family: $secondary-font;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          color: $gray-300;

        }
      }

      .off-wrp {
        margin-top: 3.4rem;
        font-family: $secondary-font;
        font-weight: 600;
        color: $primary-color;
      }
    }

    .offer-view-wrapper {
      width: 100%;
      position: relative;
      overflow: hidden;
      .header-wrp {
        padding-bottom: 0.5rem;
        .header {
          .title {

          }
          .body {
            flex-wrap: wrap;
            &.sm {
              font-family: $secondary-font;
              font-weight: 600;
              font-size: 12px;
            }
            h1 {
              font-family: "Heebo", sans-serif;
              font-weight: 900;
              font-size: 20px;
              color: #312C39;
              text-transform: uppercase;
            }
          }
        }
      }
      .offer-image-banner {
        width: 100%;
        .banner-img-wrp {
          position: relative;
          height: 200px;
          overflow: hidden;
          border-radius: 5px;
          .img-banner {
            //width: 100%;
            object-fit: cover;
            animation: img-scale-out 8s forwards ease-out;
            margin-top: -82px;
            height: 284px;
          }
        }
        .client-logo-wrp {
          position: absolute;
          bottom: 2.5rem;
          left: 2.5rem;
          img {
            width: 70px;
          }
        }
      }

      .offer-location-wrp {
        width: 100%;
        padding-top: 0.8rem;
        .location-list {
          .offer-loc {
            border: 2px solid $primary-color;
            color: $primary-color;
            border-radius: 25px;
            font-family: $secondary-font;
            font-weight: 600;
            font-size: 10px;
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
            margin-right: 0.5rem;
            white-space: nowrap;
            //margin-bottom: 0.5rem;
          }
        }
      }
      .offer-update-at-wrp {
        .body {
          &.sm {
            font-family: $secondary-font;
            font-weight: 600;
            font-size: 10px;
            color: $gray-300;
          }
        }
      }
    }
  }
}
.home-link-footer {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  text-align: center;;
  .home-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    &:hover {
      margin-left: 0.5rem;
      .icon {
        color: $primary-color;
      }
      .text {
        color: $primary-color;
      }
    }
    .icon {
      margin-right: 1rem;
    }
    .text {

    }
  }
}

.interesting-wrapper {
  background: $white;
  height: 80px;
  border-radius: 5px;
}

.interest-btn {
  cursor: pointer;
  z-index: 100;
  &.valid-user {

  }
  &.invalid-user {
    background: $gray;
    border: 1px solid $bg-color;
    .left-title {
      .c-label {
        color: $gray-200;
      }
    }
    .right-icon {
      i {
        color: $gray-200;
      }
    }
  }
}


