@import "variable";
@import "uiKit";
@import "mixin";

.bg {
  position: fixed;
  background: $bg-color;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.sign-in-wrapper {
  margin-top: 5rem;
  position: relative;
  z-index: 1001;
  .header {
    width: 100%;
    display: block;
    float: left;
  }
}

.logo-header {
  width: 100%;
  float: left;
  display: block;
  @include font-style($secondary-font, 12px, 600, $gray-200);
}