@import "variable";

table {
  &.theme-light {
    thead {
      tr {
        th {
          color: $font-color-second;
          letter-spacing: 0.2px;
          font-weight: 600;
        }
      }
    }

    //thead
    tbody {
      tr {
        cursor: pointer;

        &:hover {
          background: $bg-color;
          td {
            color: $primary-color;
          }
        }

        &:nth-child(odd) {
          background: $gray;
        }

        td {
          font-weight: 400;
          color: $ndb-title-color;
          align-items: center;
          justify-items: center;
          vertical-align: middle;
        }
      }
    }


    th, td {
      border: 0 solid #dee2e6 !important;
      font-family: $secondary-font;
      font-size: 11px;
    }
  }
}