@import "variable";
@import "mixin";


//typography
h1 {
  @include font-style($secondary-font, 30px, 700, $ndb-title-color);
}

h2 {
  @include font-style($secondary-font-2, 17px, 600, $ndb-title-color);
  text-transform: uppercase;
  margin: 0 !important;
  padding: 0 !important;
}


//button
.btn {
  @include font-style($secondary-font, 12px, 600, $gray-200);

  &.lg {
    height: 50px;
  }

  .d-flex {
    .title {
      padding-right: 5px;
      padding-left: 10px;
    }

    .icon {
      i {
        font-size: 25px;
      }
    }
  }
}

.btn-dark {
  background-color: $primary-color-2;
}

.typcn {
  &:before {
    height: 1.3em !important;
  }
}

// ant-drop down
ul {
  &.ant-dropdown-menu {
    min-height: 100px;
    padding: 0.6rem;
    border-radius: 10px;

    li {
      &.ant-dropdown-menu-item {
        @include font-style($secondary-font, 11px, 400, $gray-200);

        &:hover {
          a {
            color: $primary-color !important;
          }

          background: $gray;
          border-radius: 10px;
        }
      }
    }
  }
}

//menu icon rounder
@keyframes right-to-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.back-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  @include menu-icon-shadow();
  @include align-item-center();
  cursor: pointer;
  animation: right-to-left 1s cubic-bezier(0.41, 0.4, 0.14, 0.85) forwards;

  &:hover {
    i {
      color: $primary-color;
    }
  }

  i {
    font-size: 1.2rem;
  }
}

label {
  font-family: $secondary-font;
  font-size: 0.8rem;
  color: $gray-400;
  font-weight: 500;

  b {
    color: $red;
  }
}

//position
.fixed-bottom-right {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

//input type  file
.form-group {
  &.file-upload {
    input {
      border: 1px dashed $gray-200;
      padding: 1rem;
      border-radius: 10px;
      display: block;
      width: 100%;
    }
  }
}

//image wrapper
.bank-img-wrp {
  &.sm {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    .bank-logo {
      width: 40px;
    }
  }
}


//.form-control{
//  font-family: $secondary-font;
//  color: $active-color;
//  font-weight: 600;
//}

//validation
.form-group {
  .text.box {
    &.is-invalid {
      label {
        color: $red;
      }
      input {
        border: 1px solid $red;
      }
    }
  }

  &.is-invalid {
    label {
      color: $red;
    }

    input {
      border: 1px solid $red;
    }

    textarea {
      border: 1px solid $red;
    }
  }

  &.is-invalid-date {
    label {
      color: $red;
    }

    span {
      &.ant-calendar-picker-input {
        border: 1px solid $red;
      }
    }
  }

  &.is-invalid-multiple {
    label {
      color: $red;
    }

    .ant-select-selection {
      border: 1px solid $red;
    }
  }
}


//ant-design
.ant-input-lg {
  height: 55px !important;
  border-radius: 10px !important;
  font-family: $secondary-font !important;
  font-size: 12px !important;
  outline: 0 !important;
  color: #312C39 !important;

  &:hover {
    border-color: #151515 !important;
    outline: 0 !important;
  }
}

.ant-select-selection--multiple {
  padding: 1rem;
}

.ant-select-selection--single,
.ant-select-selection--multiple, {
  font-family: $secondary-font !important;
  font-size: 12px !important;
  position: relative;
  min-height: 55px !important;
  border-radius: 10px !important;
  cursor: pointer;
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  padding-top: 12px;


  &:hover {
    border-color: #151515 !important;
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
  }

  &:focus {
    outline: 0 !important;
    border-color: #151515 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
  }

  &:active {
    outline: 0 !important;
    border-color: #151515 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
  }


}

.ant-calendar-range-picker-separator {
  padding-top: 10px !important;
  padding-left: 1rem;
}


// location tag
ul {
  li {
    &.ant-select-selection__choice {
      border-radius: 7px !important;
      background: rgba(148, 13, 250, 0.10) !important;
      color: $primary-color-2 !important;
      border-color: $primary-color-2 !important;
      cursor: pointer;

      i {
        color: $primary-color-2 !important;
      }
    }
  }
}

.form-control {
  font-family: $secondary-font;
  font-size: 12px;
  font-weight: 400;
  outline: 0 !important;
  background-color: transparent !important;
  color: $font-color;
  padding-left: 1rem;

  &.lg {
    height: 55px;
    border-radius: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $active-color;
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.form-group {
  margin-bottom: 0.7rem;
}