$primary-font: 'open-sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$secondary-font-2: 'Heebo', sans-serif;

$white: #ffffff;
$bg-color: #F1EFF6;
$font-color: #312C39;
$font-color-second: #626262;
$red: #ff3c46;
$primary-color: #6e0ffc;
$primary-color-2: #710fff;
$primary-color-3: #390A84;
$secondary-color: #FFC100;
$secondary-color-2: #10E1E5;
$gray: #F9F9F9;
$gray-200: #D8D8D8;
$gray-300: #bababa;
$gray-400: #919191;

$hsbc: #E12D27;
$hshc-title-color: #ffa692;
$sampth: #F47C20;
$sampath-title-color: #fabd84;
$combank: #085D9D;
$combank-title-color: #0889d6;

$seylan: #EC1A25;
$seylan-title-color: #c01b22;

$ndb: #ED1C23;
$ndb-title-color: #221F20;



$active-color: #151515;
$white: #ffffff;

