h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #221F20;
  letter-spacing: 0.5px;
}

h2 {
  font-family: "Heebo", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #221F20;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 !important;
  padding: 0 !important;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #D8D8D8;
  letter-spacing: 0.5px;
}
.btn.lg {
  height: 50px;
}
.btn .d-flex .title {
  padding-right: 5px;
  padding-left: 10px;
}
.btn .d-flex .icon i {
  font-size: 25px;
}

.btn-dark {
  background-color: #710fff;
}

.typcn:before {
  height: 1.3em !important;
}

ul.ant-dropdown-menu {
  min-height: 100px;
  padding: 0.6rem;
  border-radius: 10px;
}
ul.ant-dropdown-menu li.ant-dropdown-menu-item {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #D8D8D8;
  letter-spacing: 0.5px;
}
ul.ant-dropdown-menu li.ant-dropdown-menu-item:hover {
  background: #F9F9F9;
  border-radius: 10px;
}
ul.ant-dropdown-menu li.ant-dropdown-menu-item:hover a {
  color: #6e0ffc !important;
}

@keyframes right-to-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.back-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: right-to-left 1s cubic-bezier(0.41, 0.4, 0.14, 0.85) forwards;
}
.back-btn:hover i {
  color: #6e0ffc;
}
.back-btn i {
  font-size: 1.2rem;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #919191;
  font-weight: 500;
}
label b {
  color: #ff3c46;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

.form-group.file-upload input {
  border: 1px dashed #D8D8D8;
  padding: 1rem;
  border-radius: 10px;
  display: block;
  width: 100%;
}

.bank-img-wrp.sm {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.bank-img-wrp.sm .bank-logo {
  width: 40px;
}

.form-group .text.box.is-invalid label {
  color: #ff3c46;
}
.form-group .text.box.is-invalid input {
  border: 1px solid #ff3c46;
}
.form-group.is-invalid label {
  color: #ff3c46;
}
.form-group.is-invalid input {
  border: 1px solid #ff3c46;
}
.form-group.is-invalid textarea {
  border: 1px solid #ff3c46;
}
.form-group.is-invalid-date label {
  color: #ff3c46;
}
.form-group.is-invalid-date span.ant-calendar-picker-input {
  border: 1px solid #ff3c46;
}
.form-group.is-invalid-multiple label {
  color: #ff3c46;
}
.form-group.is-invalid-multiple .ant-select-selection {
  border: 1px solid #ff3c46;
}

.ant-input-lg {
  height: 55px !important;
  border-radius: 10px !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px !important;
  outline: 0 !important;
  color: #312C39 !important;
}
.ant-input-lg:hover {
  border-color: #151515 !important;
  outline: 0 !important;
}

.ant-select-selection--multiple {
  padding: 1rem;
}

.ant-select-selection--single,
.ant-select-selection--multiple {
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px !important;
  position: relative;
  min-height: 55px !important;
  border-radius: 10px !important;
  cursor: pointer;
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  padding-top: 12px;
}
.ant-select-selection--single:hover,
.ant-select-selection--multiple:hover {
  border-color: #151515 !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
}
.ant-select-selection--single:focus,
.ant-select-selection--multiple:focus {
  outline: 0 !important;
  border-color: #151515 !important;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
}
.ant-select-selection--single:active,
.ant-select-selection--multiple:active {
  outline: 0 !important;
  border-color: #151515 !important;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
}

.ant-calendar-range-picker-separator {
  padding-top: 10px !important;
  padding-left: 1rem;
}

ul li.ant-select-selection__choice {
  border-radius: 7px !important;
  background: rgba(148, 13, 250, 0.1) !important;
  color: #710fff !important;
  border-color: #710fff !important;
  cursor: pointer;
}
ul li.ant-select-selection__choice i {
  color: #710fff !important;
}

.form-control {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  outline: 0 !important;
  background-color: transparent !important;
  color: #312C39;
  padding-left: 1rem;
}
.form-control.lg {
  height: 55px;
  border-radius: 10px;
}
.form-control:hover, .form-control:focus, .form-control:active {
  border-color: #151515;
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.form-group {
  margin-bottom: 0.7rem;
}

body,
html {
  background: #F1EFF6 !important;
  overflow: hidden;
}

@keyframes menu-top-to-bottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes menu-bottom-to-top {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
.loading-wrapper {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 20px;
  left: 40%;
  right: 50%;
  margin: 0 auto;
  background: #6e0ffc;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
  border-radius: 25px;
  animation: menu-top-to-bottom 0.3s ease forwards;
}
.loading-wrapper.active {
  animation: menu-top-to-bottom 0.3s ease forwards;
}
.loading-wrapper.unload {
  animation: menu-bottom-to-top 0.5s ease forwards;
}

.view .logo-view {
  width: 40px;
  height: 20px;
}
.view .logo-view img {
  width: 30px;
}

.d-flex-center {
  display: flex;
  justify-items: center;
  align-items: center;
}

.track-horizontal {
  overflow-x: hidden !important;
  display: none !important;
}

.bank-text.hsbc {
  color: #E12D27 !important;
}
.bank-text.commercial {
  color: #0865AB !important;
}
.bank-text.seylan {
  color: #EC1A25 !important;
}
.bank-text.ndb {
  color: #ED1C23 !important;
}
.bank-text.cargills {
  color: #ffa692 !important;
}
.bank-text.ntb {
  color: #EF037E !important;
}
.bank-text.peopele {
  color: #ffa692 !important;
}
.bank-text.sampath {
  color: #F47C20 !important;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #221F20;
  letter-spacing: 0.5px;
}

h2 {
  font-family: "Heebo", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #221F20;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 !important;
  padding: 0 !important;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #D8D8D8;
  letter-spacing: 0.5px;
}
.btn.lg {
  height: 50px;
}
.btn .d-flex .title {
  padding-right: 5px;
  padding-left: 10px;
}
.btn .d-flex .icon i {
  font-size: 25px;
}

.btn-dark {
  background-color: #710fff;
}

.typcn:before {
  height: 1.3em !important;
}

ul.ant-dropdown-menu {
  min-height: 100px;
  padding: 0.6rem;
  border-radius: 10px;
}
ul.ant-dropdown-menu li.ant-dropdown-menu-item {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #D8D8D8;
  letter-spacing: 0.5px;
}
ul.ant-dropdown-menu li.ant-dropdown-menu-item:hover {
  background: #F9F9F9;
  border-radius: 10px;
}
ul.ant-dropdown-menu li.ant-dropdown-menu-item:hover a {
  color: #6e0ffc !important;
}

@keyframes right-to-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.back-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: right-to-left 1s cubic-bezier(0.41, 0.4, 0.14, 0.85) forwards;
}
.back-btn:hover i {
  color: #6e0ffc;
}
.back-btn i {
  font-size: 1.2rem;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #919191;
  font-weight: 500;
}
label b {
  color: #ff3c46;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

.form-group.file-upload input {
  border: 1px dashed #D8D8D8;
  padding: 1rem;
  border-radius: 10px;
  display: block;
  width: 100%;
}

.bank-img-wrp.sm {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.bank-img-wrp.sm .bank-logo {
  width: 40px;
}

.form-group .text.box.is-invalid label {
  color: #ff3c46;
}
.form-group .text.box.is-invalid input {
  border: 1px solid #ff3c46;
}
.form-group.is-invalid label {
  color: #ff3c46;
}
.form-group.is-invalid input {
  border: 1px solid #ff3c46;
}
.form-group.is-invalid textarea {
  border: 1px solid #ff3c46;
}
.form-group.is-invalid-date label {
  color: #ff3c46;
}
.form-group.is-invalid-date span.ant-calendar-picker-input {
  border: 1px solid #ff3c46;
}
.form-group.is-invalid-multiple label {
  color: #ff3c46;
}
.form-group.is-invalid-multiple .ant-select-selection {
  border: 1px solid #ff3c46;
}

.ant-input-lg {
  height: 55px !important;
  border-radius: 10px !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px !important;
  outline: 0 !important;
  color: #312C39 !important;
}
.ant-input-lg:hover {
  border-color: #151515 !important;
  outline: 0 !important;
}

.ant-select-selection--multiple {
  padding: 1rem;
}

.ant-select-selection--single,
.ant-select-selection--multiple {
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px !important;
  position: relative;
  min-height: 55px !important;
  border-radius: 10px !important;
  cursor: pointer;
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  padding-top: 12px;
}
.ant-select-selection--single:hover,
.ant-select-selection--multiple:hover {
  border-color: #151515 !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
}
.ant-select-selection--single:focus,
.ant-select-selection--multiple:focus {
  outline: 0 !important;
  border-color: #151515 !important;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
}
.ant-select-selection--single:active,
.ant-select-selection--multiple:active {
  outline: 0 !important;
  border-color: #151515 !important;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0) !important;
}

.ant-calendar-range-picker-separator {
  padding-top: 10px !important;
  padding-left: 1rem;
}

ul li.ant-select-selection__choice {
  border-radius: 7px !important;
  background: rgba(148, 13, 250, 0.1) !important;
  color: #710fff !important;
  border-color: #710fff !important;
  cursor: pointer;
}
ul li.ant-select-selection__choice i {
  color: #710fff !important;
}

.form-control {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  outline: 0 !important;
  background-color: transparent !important;
  color: #312C39;
  padding-left: 1rem;
}
.form-control.lg {
  height: 55px;
  border-radius: 10px;
}
.form-control:hover, .form-control:focus, .form-control:active {
  border-color: #151515;
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.form-group {
  margin-bottom: 0.7rem;
}

.bg {
  position: fixed;
  background: #F1EFF6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.sign-in-wrapper {
  margin-top: 5rem;
  position: relative;
  z-index: 1001;
}
.sign-in-wrapper .header {
  width: 100%;
  display: block;
  float: left;
}

.logo-header {
  width: 100%;
  float: left;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #D8D8D8;
  letter-spacing: 0.5px;
}

.console-main-wrapper {
  overflow: hidden !important;
}
.console-main-wrapper .left-wrapper {
  width: 200px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}

.logo-wrapper {
  height: 50px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
  padding: 1rem 1rem 1rem 1rem;
}

.menu-wrapper a {
  font-family: "Montserrat", sans-serif;
  color: #626262;
}
.menu-wrapper a.active {
  font-weight: 600;
  color: #6e0ffc;
}
.menu-wrapper a.active .left-menu-item-wrp {
  background: #ffffff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 30px;
}
.menu-wrapper a .left-menu-item-wrp {
  cursor: pointer;
  padding: 1rem 1rem 1rem 1rem;
}
.menu-wrapper a .left-menu-item-wrp .icon i {
  font-size: 1.3rem;
}
.menu-wrapper a .left-menu-item-wrp .text {
  font-family: "Montserrat", sans-serif;
  margin-left: 1rem;
  font-size: 0.7rem;
}
.menu-wrapper a .left-menu-item-wrp:hover {
  color: #6e0ffc;
}

/*==== console body wrapper ========*/
.console-body-wrapper {
  height: 100%;
  position: relative;
  margin-left: 200px;
}

.body-header-wrapper {
  height: 80px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.body-header-wrapper .right-wrp .menu-item .item {
  width: 50px;
  height: 50px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 100%;
  -webkit-box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-header-wrapper .right-wrp .menu-item .item:hover i {
  color: #6e0ffc;
}
.body-content-wrapper {
  background: #ffffff;
  border-radius: 10px;
  padding: 0.5rem;
  overflow: hidden;
  position: relative;
}

table.theme-light thead tr th {
  color: #626262;
  letter-spacing: 0.2px;
  font-weight: 600;
}
table.theme-light tbody tr {
  cursor: pointer;
}
table.theme-light tbody tr:hover {
  background: #F1EFF6;
}
table.theme-light tbody tr:hover td {
  color: #6e0ffc;
}
table.theme-light tbody tr:nth-child(odd) {
  background: #F9F9F9;
}
table.theme-light tbody tr td {
  font-weight: 400;
  color: #221F20;
  align-items: center;
  justify-items: center;
  vertical-align: middle;
}
table.theme-light th, table.theme-light td {
  border: 0 solid #dee2e6 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #D8D8D8;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}
.btn:active {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}
.btn.lg {
  height: 50px;
}
.btn.sm {
  width: 80px;
  height: 30px;
}
.btn.btn-disable {
  background-color: #bababa;
}

.btn-dark {
  background-color: #710fff;
}
.btn-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0) !important;
}
.btn-dark:active {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0) !important;
}
.btn-dark:hover {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0) !important;
}
.btn-dark:visited {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0) !important;
}

.modal-bg-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
.modal-bg-wrapper .header-wrapper {
  border-bottom: 1px solid #F1EFF6;
  padding-bottom: 1.5rem;
  position: relative;
}
.modal-bg-wrapper .modal-wrapper {
  background: #ffffff;
  border: 1px solid #F1EFF6;
  border-radius: 10px;
  min-height: 500px;
  padding: 2rem;
  margin-top: 4rem;
  overflow: hidden !important;
  position: relative;
}
.modal-bg-wrapper .modal-wrapper .modal-title {
  margin-left: 1rem;
}
.modal-bg-wrapper .modal-wrapper .modal-title small {
  font-family: "Montserrat", sans-serif;
  color: #6e0ffc;
  font-weight: 500;
}
.modal-bg-wrapper .modal-body-wrapper .form-wrapper {
  margin-top: 2rem;
  overflow: hidden !important;
}
.modal-bg-wrapper .modal-body-wrapper .form-wrapper.auto-scroller div:nth-child(2) {
  overflow: hidden !important;
  overflow-y: auto !important;
}
.modal-bg-wrapper .modal-body-wrapper .form-wrapper.m1-t {
  margin-top: 1rem;
}
.modal-bg-wrapper .modal-body-wrapper .btn-wrapper {
  margin-top: 2rem;
}

.create-new {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  text-align: right;
  cursor: pointer;
  color: #919191;
}
.create-new:hover {
  color: #6e0ffc;
}

.bank-card-wrapper {
  width: 100px;
  height: 100px;
  border: 1px solid #F9F9F9;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  padding: 1.5rem 1rem 1rem 1rem;
  position: relative;
}
.bank-card-wrapper.active {
  border: 1px solid #6e0ffc;
}
.bank-card-wrapper.active .select-item {
  background: #6e0ffc;
  border: 1px solid #6e0ffc;
}
.bank-card-wrapper:hover {
  background: #F9F9F9;
}
.bank-card-wrapper:hover .bank-name {
  color: #221F20;
}
.bank-card-wrapper .logo .bank-logo {
  width: 50px;
}
.bank-card-wrapper .bank-name {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
.bank-card-wrapper .select-item {
  width: 10px;
  height: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.client-selection-row {
  height: 80px;
  border-bottom: 1px solid #F9F9F9;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}
.client-selection-row.active {
  border: 1px solid #6e0ffc;
}
.client-selection-row.active .left-wrp .client-name {
  color: #221F20;
}
.client-selection-row.active .right-wrp .select-item {
  background: #6e0ffc;
}
.client-selection-row:hover {
  background: #F9F9F9;
}
.client-selection-row:hover .left-wrp .client-name {
  color: #221F20;
}
.client-selection-row:hover .right-wrp .select-item {
  border: 1px solid #6e0ffc;
}
.client-selection-row .left-wrp .client-img {
  margin-right: 1rem;
}
.client-selection-row .left-wrp .client-img img {
  width: 50px;
  -webkit-box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 14px 10px 34px -2px rgba(0, 0, 0, 0.2);
}
.client-selection-row .left-wrp .client-name {
  font-family: "Montserrat", sans-serif;
}
.client-selection-row .right-wrp {
  padding-right: 20px;
}
.client-selection-row .right-wrp .select-item {
  width: 15px;
  height: 15px;
  border: 1px solid #D8D8D8;
  border-radius: 100px;
  top: 10px;
  right: 10px;
  float: right;
}

.button-wrp {
  margin-top: 1.8rem;
  margin-left: 1rem;
}

.btn-add {
  height: 55px;
  border-radius: 10px;
}

.list-term-wrp .term-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 100%;
  border-bottom: 1px solid #F9F9F9;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.list-term-wrp .term-item .delete-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: -21px 17px 48px -5px rgba(0, 0, 0, 0.8);
  right: 15px;
  top: 10px;
  padding-left: 7px;
  transform: translateY(400px);
}
.list-term-wrp .term-item .delete-icon:hover {
  background: #ff3c46;
}
.list-term-wrp .term-item .delete-icon:hover i {
  color: #ffffff;
}
.list-term-wrp .term-item .delete-icon i {
  font-size: 15px;
  color: #ff3c46;
}
.list-term-wrp .term-item:hover {
  background: #F1EFF6;
}
.list-term-wrp .term-item:hover .delete-icon {
  animation: delete-icon-show 0.6s forwards cubic-bezier(0.46, 0.59, 0.25, 0.99);
}

@keyframes delete-icon-show {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(0);
  }
}
.pending-offer-card {
  height: 300px;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.7rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.pending-offer-card:hover {
  box-shadow: -5px 17px 48px -12px rgba(0, 0, 0, 0.2);
  border: 0px solid #D8D8D8;
}
.pending-offer-card:hover .offer-btn-wrapper {
  animation: btn-action-move-up 0.5s forwards ease;
}
.pending-offer-card .p-offer-header {
  font-family: "Montserrat", sans-serif;
}
.pending-offer-card .p-offer-header .title {
  font-size: 10px;
  font-weight: 300;
  color: #bababa;
}
.pending-offer-card .p-offer-header .header {
  font-size: 12px;
  font-weight: 600;
  color: #221F20;
}
.pending-offer-card .p-offer-banner {
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.pending-offer-card .p-offer-banner img {
  border-radius: 5px;
}
.pending-offer-card .category-bank-wrapper {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}
.pending-offer-card .category-bank-wrapper .category-wrp .title {
  font-size: 10px;
  font-weight: 300;
  color: #bababa;
  padding-bottom: 0.1rem;
}
.pending-offer-card .category-bank-wrapper .category-wrp .category {
  font-size: 10px;
  font-weight: 300;
  color: #221F20;
}
.pending-offer-card .category-bank-wrapper .category-wrp:nth-child(1) {
  margin-right: 0.4rem;
}
.pending-offer-card .offer-btn-wrapper {
  padding-top: 0.8rem;
  margin-top: 1.5rem;
  transform: translateY(200px);
}

@keyframes btn-action-move-up {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.card-wrapper {
  min-height: 300px;
  background: #ffffff;
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 10px;
  border: 1px solid #ebe9ef;
}
.card-wrapper .offer-card-header {
  min-height: 20px;
  position: relative;
}
.card-wrapper .card-body-wrapper .offer-details-wrp {
  border: 1px solid #F9F9F9;
  border-radius: 5px;
  padding: 0.7rem;
  flex: 1;
}
.card-wrapper .card-body-wrapper .offer-details-wrp .web-site-wrp {
  margin-top: 1rem;
  margin-left: 1.2rem;
  text-align: center;
}
.card-wrapper .card-body-wrapper .offer-details-wrp .web-site-wrp .view-more {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  width: 65px;
  height: 25px;
  background: #F9F9F9;
  font-family: "Montserrat", sans-serif;
  color: #6e0ffc;
  border: 1px solid #6e0ffc;
  font-size: 10px;
  cursor: pointer;
}
.card-wrapper .card-body-wrapper .offer-details-wrp .web-site-wrp .view-more:hover {
  color: #ffffff;
  background: #6e0ffc;
}
.card-wrapper .card-body-wrapper .offer-details-wrp .web-site-wrp .view-more.accept {
  color: #312C39;
  border: 1px solid #312C39;
}
.card-wrapper .card-body-wrapper .offer-details-wrp .web-site-wrp .view-more.accept:hover {
  color: #ffffff;
  background: #312C39;
}
.card-wrapper .card-body-wrapper .offer-location-wrp {
  margin-top: 0.8rem;
}
.card-wrapper .card-body-wrapper .offer-location-wrp .icon-wrapper {
  margin-right: 0.5rem;
}
.card-wrapper .card-body-wrapper .offer-location-wrp .icon-wrapper i {
  font-size: 13px;
  color: #bababa;
}
.offer-image-wrp {
  width: 60%;
  height: 200px;
  overflow: hidden;
  margin-right: 0.6rem;
  border-radius: 5px;
  position: relative;
}
.offer-image-wrp img {
  object-fit: cover;
  height: 255px;
  border-radius: 2px;
  animation: img-scale-out 3s forwards ease-in;
  margin-top: -51px;
  margin-left: -160px;
}
.client-wrp {
  position: absolute;
  z-index: 100;
  bottom: 25px;
  left: 25px;
}
.client-wrp .offer-client-logo {
  margin-right: 0.8rem;
  margin-top: -6px;
}
.client-wrp .offer-client-logo img {
  height: 50px;
  border-radius: 100px;
  box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.18);
}

.offer-card-footer {
  margin-top: 1.5rem;
}
.offer-card-footer .footer-item {
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.offer-card-footer .footer-item.with-bg-yellow {
  background: #FFC100;
  border: 0px solid #D8D8D8;
  display: flex;
  align-items: center;
  text-align: center;
}
.offer-card-footer .footer-item .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 11px;
}
.offer-card-footer .footer-item .title.white {
  color: #ffffff;
}
.offer-card-footer .footer-item.with-icon .left-title {
  margin-right: 1.2rem;
}
.offer-card-footer .footer-item.with-icon.hsbc {
  background: rgba(255, 45, 39, 0.07);
  border: 1px solid #E12D27;
}
.offer-card-footer .footer-item.with-icon.hsbc .left-title {
  color: #E12D27;
}
.offer-card-footer .footer-item.with-icon.hsbc .left-title .c-label {
  color: #ffa692;
}
.offer-card-footer .footer-item.with-icon.commercial {
  background: rgba(8, 101, 171, 0.07);
  border: 1px solid #0865AB;
}
.offer-card-footer .footer-item.with-icon.commercial .left-title {
  color: #0865AB;
}
.offer-card-footer .footer-item.with-icon.commercial .left-title .c-label {
  color: #088be0;
}
.offer-card-footer .footer-item.with-icon.seylan {
  background: rgba(255, 45, 39, 0.07);
  border: 1px solid #EC1A25;
}
.offer-card-footer .footer-item.with-icon.seylan .left-title {
  color: #EC1A25;
}
.offer-card-footer .footer-item.with-icon.seylan .left-title .c-label {
  color: #c01b22;
}
.offer-card-footer .footer-item.with-icon.ndb {
  background: rgba(255, 45, 39, 0.07);
  border: 1px solid #ED1C23;
}
.offer-card-footer .footer-item.with-icon.ndb .left-title {
  color: #221F20;
}
.offer-card-footer .footer-item.with-icon.ndb .left-title .c-label {
  color: #ED1C23;
}
.offer-card-footer .footer-item.with-icon.cargills {
  background: rgba(255, 45, 39, 0.07);
  border: 1px solid #E12D27;
}
.offer-card-footer .footer-item.with-icon.cargills .left-title {
  color: #ffa692;
}
.offer-card-footer .footer-item.with-icon.cargills .left-title .c-label {
  color: #E12D27;
}
.offer-card-footer .footer-item.with-icon.hnb {
  background: rgba(255, 45, 39, 0.07);
  border: 1px solid #ED1C23;
}
.offer-card-footer .footer-item.with-icon.hnb .left-title {
  color: #221F20;
}
.offer-card-footer .footer-item.with-icon.hnb .left-title .c-label {
  color: #ED1C23;
}
.offer-card-footer .footer-item.with-icon.ntb {
  background: rgba(7, 102, 166, 0.07);
  border: 1px solid #0766a6;
}
.offer-card-footer .footer-item.with-icon.ntb .left-title {
  color: #EF037E;
}
.offer-card-footer .footer-item.with-icon.ntb .left-title .c-label {
  color: #c552a3;
}
.offer-card-footer .footer-item.with-icon.peopele {
  background: rgba(255, 45, 39, 0.07);
  border: 1px solid #E12D27;
}
.offer-card-footer .footer-item.with-icon.peopele .left-title {
  color: #ffa692;
}
.offer-card-footer .footer-item.with-icon.peopele .left-title .c-label {
  color: #E12D27;
}
.offer-card-footer .footer-item.with-icon.sampath {
  background: rgba(244, 124, 32, 0.07);
  border: 1px solid #F47C20;
}
.offer-card-footer .footer-item.with-icon.sampath .left-title {
  color: #F47C20;
}
.offer-card-footer .footer-item.with-icon.sampath .left-title .c-label {
  color: #fabd84;
}

.interset {
  cursor: pointer;
  z-index: 100;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.interset.invalid-user {
  background: #F9F9F9;
  border: 1px solid #F1EFF6;
}
.interset.invalid-user .left-title {
  margin-right: 1.2rem;
}
.interset.invalid-user .left-title .c-label {
  color: #D8D8D8;
}
.interset.invalid-user .left-title .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 11px;
}
.interset.invalid-user .right-icon i {
  color: #D8D8D8;
}

.card-title {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #312C39;
  text-transform: uppercase;
}

.c-label {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #bababa;
}
.c-label.link {
  cursor: pointer;
}
.c-label.link:hover {
  color: #6e0ffc;
}

.offer-expire {
  font-family: "Montserrat", sans-serif;
  color: #ff3c46;
  font-size: 10px;
}

.time-ago {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #bababa;
}

.location-title {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #312C39;
}

.offer-view-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #bababa;
}

.offer-wrapper .bank-and-client-wrapper {
  min-height: 100px;
  background: #F9F9F9;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 5px;
  padding: 2rem;
}
.offer-wrapper .bank-and-client-wrapper.mobile {
  padding: 0rem;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper {
  padding-right: 3rem;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper.mobile {
  padding: 0.8rem;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .logo-wrp {
  padding-bottom: 2.2rem;
  padding-top: 0.3rem;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .logo-wrp img {
  width: 100px;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details {
  padding-bottom: 1rem;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details .body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  flex-wrap: wrap;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details .body.b {
  font-weight: 600;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details.hsbc .body {
  color: #E12D27 !important;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details.hsbc .body.validDesc {
  color: #E12D27;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details.seylan .body {
  color: #EC1A25 !important;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details.seylan .body.validDesc {
  color: #EC1A25;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details.sampath .body {
  color: #F47C20 !important;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details.sampath .body.validDesc {
  color: #F47C20;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details.commercial .body {
  color: #085D9D !important;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details.commercial .body.validDesc {
  color: #085D9D;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details.hnb .body {
  color: #221F20 !important;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details.hnb .body.validDesc {
  color: #221F20;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details .check-icon-wrp {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details .check-icon-wrp .icon {
  width: 20px;
  height: 20px;
  background: #6e0ffc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .bank-details .check-icon-wrp .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .apply-card-wrp {
  width: 86px;
  height: 29px;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #bababa;
  margin-top: 2rem;
  cursor: pointer;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .apply-card-wrp:hover {
  border: 2px solid #6e0ffc;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .apply-card-wrp:hover .btn-apply-card {
  color: #6e0ffc;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .apply-card-wrp .btn-apply-card {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #bababa;
}
.offer-wrapper .bank-and-client-wrapper .client-wrapper .off-wrp {
  margin-top: 3.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #6e0ffc;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .header-wrp {
  padding-bottom: 0.5rem;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .header-wrp .header .body {
  flex-wrap: wrap;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .header-wrp .header .body.sm {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .header-wrp .header .body h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #312C39;
  text-transform: uppercase;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .offer-image-banner {
  width: 100%;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .offer-image-banner .banner-img-wrp {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .offer-image-banner .banner-img-wrp .img-banner {
  object-fit: cover;
  animation: img-scale-out 8s forwards ease-out;
  margin-top: -82px;
  height: 284px;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .offer-image-banner .client-logo-wrp {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .offer-image-banner .client-logo-wrp img {
  width: 70px;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .offer-location-wrp {
  width: 100%;
  padding-top: 0.8rem;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .offer-location-wrp .location-list .offer-loc {
  border: 2px solid #6e0ffc;
  color: #6e0ffc;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin-right: 0.5rem;
  white-space: nowrap;
}
.offer-wrapper .bank-and-client-wrapper .offer-view-wrapper .offer-update-at-wrp .body.sm {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #bababa;
}

.home-link-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  text-align: center;
}
.home-link-footer .home-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
}
.home-link-footer .home-link-wrapper:hover {
  margin-left: 0.5rem;
}
.home-link-footer .home-link-wrapper:hover .icon {
  color: #6e0ffc;
}
.home-link-footer .home-link-wrapper:hover .text {
  color: #6e0ffc;
}
.home-link-footer .home-link-wrapper .icon {
  margin-right: 1rem;
}
.interesting-wrapper {
  background: #ffffff;
  height: 80px;
  border-radius: 5px;
}

.interest-btn {
  cursor: pointer;
  z-index: 100;
}
.interest-btn.invalid-user {
  background: #F9F9F9;
  border: 1px solid #F1EFF6;
}
.interest-btn.invalid-user .left-title .c-label {
  color: #D8D8D8;
}
.interest-btn.invalid-user .right-icon i {
  color: #D8D8D8;
}

/*# sourceMappingURL=app.css.map */
