h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #221F20;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #D8D8D8;
}
.btn.lg {
  height: 50px;
}

.btn-dark {
  background-color: #710fff;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #221F20;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #D8D8D8;
}
.btn.lg {
  height: 50px;
}

.btn-dark {
  background-color: #710fff;
}

.bg {
  position: fixed;
  background: #F1EFF6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.sign-in-wrapper {
  margin-top: 5rem;
  position: relative;
  z-index: 1001;
}
.sign-in-wrapper .logo-header {
  width: 100%;
  float: left;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #D8D8D8;
}
.sign-in-wrapper .header {
  width: 100%;
  display: block;
  float: left;
}

.form-control {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  outline: 0 !important;
  background-color: transparent !important;
  color: #312C39;
  padding-left: 1rem;
}
.form-control.lg {
  height: 55px;
  border-radius: 10px;
}
.form-control:hover, .form-control:focus, .form-control:active {
  border-color: #151515;
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #D8D8D8;
}
.btn.lg {
  height: 50px;
}

.btn-dark {
  background-color: #710fff;
}

/*# sourceMappingURL=app.css.map */
